        body {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            background-color: #e1e0db;
            background-repeat: repeat;
            font-size: 13px;
            line-height: 17px;
            color: #000;
            min-height: 100vh;
        }
        
        main {
            width: 969px;
            margin: 0 auto;
            margin-top: 60px;
            margin-bottom: 100px;
            background-color: #433245;
            border-radius: 1.2em;
            box-shadow: 0 0px 38px rgba(0, 0, 0, 0.2), 0 0px 15px rgba(0, 0, 0, 0.1);
            min-height: 100vh;
        }
        
        .content {}
        
        .paper-top,
        .paper-bottom {
            height: 90px;
        }
        
        .paper {
            background-color: #FFF;
            width: 828px;
            margin: 0 auto;
            min-height: 100vh;
        }
        
        img {
            border-radius: 100px;
            margin-left: 50px;
            ;
        }
        
        .entry {
            width: 720px;
            display: block;
            padding-top: 55px;
            clear: both;
            margin-left: 4px;
        }